<h1>Add new message</h1>

<form method="POST" action="/new">
    <label for="author">User:</label>
    <input type="text" name="messageUser"></input>

    <label for="message">Message:</label>
    <input type="text" name="messageText"></input>

    <input type="submit"></input>
</form>